# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
venv/
.venv/

# Aufnahmen & Screenshots
aufnahme_*.mp4
screenshot_*.jpg
~/Aufnahmen/

# System
.DS_Store
*.swp
*.swo
*~

# IDE
.vscode/
.idea/

# Output/Debug
output.txt
