.venv
__pycache__
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
.DS_Store
.idea/
.vscode/
*.env
*.egg-info/
dist/
build/
*.egg
*.tar.gz
*.whl
coverage.xml
htmlcov/
.pytest_cache/
.mypy_cache/
.pyre/
.pytype/
.pyre_check/
.pytype_check/
.pyre_configuration/
.pytype_configuration/
